<!DOCTYPE html>
<html>
	<head>
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

		<title>Genesis</title>
		<link rel="stylesheet" type="text/css" href="default.css" />
	</head>
	<body>	
		<div id="assets">
			<img id="sprite" src="sprite.png" style="visibility:hidden" />
			<audio><source src="hurt.wav" /></audio>
		</div>

		<div id="bar" class="content">
			<div id="level" class="ui">Level 1</div>
			<div id="score" class="ui">0</div>
		</div>
		<div id="gameContent" class="content">
			<div id="gameOver" class="border">Game Over</div>
			<canvas id="glasspane" width="320" height="560"></canvas>
			<canvas id="game" width="320" height="560"></canvas>
		</div>
	</body>
	<script type="text/javascript" src="stats.min.js"></script>
	<script type="text/javascript" src="selfish.js"></script>
	<script type="text/javascript" src="genesis.min.js"></script>
<html>