body, html {
	background-color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2 {
	font-size: 50px;
}	
#gameOver {
	display: none;
	position: absolute;
	top: 100px;
	left: 50px;
	width: 200px;
	font-size: 28px;
	background-color: #783A00;
}
.content {
	position: relative;
	margin: 0 auto;
	width: 320px;
	color: #DDDDDD;
	text-align: center;
}
.border {
	border: 4px solid;
    border-radius: 6px;
    padding: 12px
}
.shadow {
	box-shadow: 0 6px 20px black;
}
#start {
	position: relative;
	top: 20px;
	font-size: 28px;
	background-color: #783A00
}

/* unvisited link */
a {
	text-decoration: none;
    color: #E77600;
}

#startup {
	background-color: black
}

#game {
	
}
#assets {
	height: 0;
	width: 0;
}
.ui {
	font-size: 32px;
	color: white;
	position: absolute;
}
#level {
	top: 6px;
	left: 10px;
}
#score {
	top: 6px;
	right: 10px;
}

#glasspane {
	position: absolute;
}
#bar {
	height: 50px
}